@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.text-glitch{

    position: relative;

    color: #fff;

    font-weight: 700;

    font-size: 22px;

    transform: scale(2);

    padding: 20px;

    letter-spacing: 2px;

    text-transform: uppercase;

}

.gallery {
    @apply bg-transparent;
}

.gallery-cell {
    @apply w-80 h-100 mr-2.5;
}

.gallery-cell:before {
    @apply block text-center text-white text-6xl;
    line-height: 200px;
}
